# terraform.tfvars.example

web_domain_name      = "example.com"
web_subdomain_name   = "www"
aws_region           = "us-east-1"
cloudflare_api_token = "REPLACE_WITH_SECRET" # should not be committed
