# terraform.tfvars.example

app_name             = "my_app"
web_domain_name      = "my_domain"
aws_region           = "my_region"
cloudflare_api_token = "cloudfalre_token"
cloudflare_zone_id   = "zone_id"
